.Navbar {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 40px;
    left: 3.82%;
    width: 96.2%;
    text-align: left;
    height: 96px;
    align-items: center;
    justify-content: space-between;
}

.hamburger-button {
    display: none;
}

.Logo {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}

.Right {
    z-index: 1;
    width: 60%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    backdrop-filter: blur(30px);
}

.number {
    font-weight: 700;
}

.links {
    height: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: Barlow Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: #FFFFFF;
}

.links:hover {
    border-bottom: 2px #ffffff solid;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.active {
    border-bottom: 2px white solid;
}

.active:hover {
    border-bottom: 2px white solid;
    opacity: 1;
}

.rule {
    position: absolute;
    left: 6.94%;
    border-top: 1px white solid;
    width: 35%;
    z-index: 2;
}

@media screen and (max-width: 1226px) {
    .Navbar {
        top: 0;
    }

    .links {
        font-size: 14px;
    }

    .number {
        display: none;
    }
    
    .rule {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .offcanvas.offcanvas-end.show {
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(81.5485px);
        width: 67.73%;
    }

    .offcanvas-backdrop.fade.show {
        display: none;
    }

    .offcanvas-header {
        padding-top: 34px;
    }

    .btn-close {
        position: absolute;
        right: 34px;
    }

    .Right {
        display: none;
    }

    .offcanvas-body {
        padding: 0 0 0 32px;
    }

    .sidebar-right {
        display: flex;
        flex-direction: column;
    }

    .number {
        display: inline;
    }

    .hamburger-button {
        display: inline;
        background: transparent;
        border: none;
        height: auto;
        width: auto;
        margin-right: 24px;
        padding: 0;
    }
    .hamburger {
        width: 24px;
        height: 21px;
    }

    .sidebar-right {
        margin-top: 64.95px;
    }

    .links {
        height: 31px;
        font-family: Barlow Condensed;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2.7px;
        color: #FFFFFF;
        width: 100%;
        text-align: left;
        margin: 0 0 32px;
    }

    .active {
        border: none;
        border-right: 4px solid white;
    }
}